@use "@/styles/layout/button" as button;

@mixin bottom-sheet {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 2rem;
  .title {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }
  .sub {
    font-size: 1.6rem;
    color: var(--gray-400);
    margin-bottom: 2.4rem;
  }
  .actions {
    display: flex;
    gap: 0.4rem;
    .button {
      @include button.ky-button;
      flex: 1 0 0;
      background-color: var(--bg-200);
      font-size: 1.6rem;
      color: var(--gray-200);
      border-radius: calc(var(--card-radius-base) * 1.5 - 2rem);
      &.primary {
        background-color: var(--brand-500);
        color: var(--gray-900);

        &:disabled {
          background-color: var(--bg-300);
          color: var(--gray-500);
        }
      }
    }
  }
}
