@use "sass:list";
@use "sass:map";

@mixin double-col-layout {
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s var(--ease-in-out-back);
  gap: 0.4rem;
  @starting-style {
    opacity: 0;
  }

  /* 🔍 화면 너비가 넓어질 때 (Unfolded / Tablet) */
  @media (min-width: 690px) {
    display: grid;
    gap: 1.2rem 2rem;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}

@mixin safe-area {
  width: min(calc(100% - calc(var(--inner-padding) * 2)), 1080px);
  min-height: 100dvh;
  padding: var(--header-height) 0 var(--inner-padding);
}

@mixin round-list($direction: "y") {
  // 기본값은 'y' (세로)
  border-radius: 0.8rem;
  transition:
    opacity 150ms var(--ease-in-out-back) calc(30ms * var(--i)),
    scale 150ms var(--ease-in-out-back) calc(30ms * var(--i));

  &:first-of-type {
    @if $direction == "y" {
      border-top-left-radius: var(--card-radius-base);
      border-top-right-radius: var(--card-radius-base);
    } @else {
      // 'x' 방향 (왼쪽 모서리)
      border-top-left-radius: var(--card-radius-base);
      border-bottom-left-radius: var(--card-radius-base);
    }
  }

  &:last-of-type {
    @if $direction == "y" {
      border-bottom-left-radius: var(--card-radius-base);
      border-bottom-right-radius: var(--card-radius-base);
    } @else {
      // 'x' 방향 (오른쪽 모서리)
      border-top-right-radius: var(--card-radius-base);
      border-bottom-right-radius: var(--card-radius-base);
    }
  }

  @media screen and (max-width: 689px) {
    @starting-style {
      opacity: 0;
      scale: 0.9;
    }
  }
}

@mixin loading-target {
  animation: loading-animation 750ms var(--ease-in-out-quad) infinite;
  @keyframes loading-animation {
    from {
      background-position-x: 0%;
    }
    to {
      background-position-x: 200%;
    }
  }
  background-image: linear-gradient(45deg, var(--bg-100), var(--bg-200));
  background-size: 200%;
  background-repeat: repeat-x;
}

@mixin concave-edge($position, $offset, $radius-1, $radius-2, $bg-color) {
  $config-map: (
    "top": (
      top,
      left,
      top,
      right,
      -1,
      -1,
    ),
    "bottom": (
      bottom,
      left,
      bottom,
      right,
      1,
      -1,
    ),
    "left": (
      top,
      left,
      bottom,
      left,
      -1,
      -1,
    ),
    "right": (
      top,
      right,
      bottom,
      right,
      -1,
      1,
    ),
  );

  $config: map.get($config-map, $position);

  $y1: list.nth($config, 1);
  $x1: list.nth($config, 2);
  $y2: list.nth($config, 3);
  $x2: list.nth($config, 4);
  $s-y: list.nth($config, 5);
  $s-x: list.nth($config, 6);

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    background-color: transparent;
    border-radius: 50%;
    z-index: -1;
  }

  &::before {
    #{$y1}: $offset;
    #{$x1}: 0;
    width: calc(#{$radius-1} * 2);
    height: calc(#{$radius-1} * 2);
    box-shadow: calc(#{$radius-1} * #{$s-x}) calc(#{$radius-1} * #{$s-y}) 0 0
      $bg-color;
  }

  $after-x: 0;
  $after-y: 0;

  @if $position == "left" or $position == "right" {
    $after-x: $s-x;
    $after-y: $s-y * -1;
  } @else {
    $after-x: $s-x * -1;
    $after-y: $s-y;
  }

  &::after {
    #{$y2}: $offset;
    #{$x2}: 0;
    width: calc(#{$radius-2} * 2);
    height: calc(#{$radius-2} * 2);
    box-shadow: calc(#{$radius-2} * #{$after-x})
      calc(#{$radius-2} * #{$after-y}) 0 0 $bg-color;
  }
}
