@use "@/styles/layout/button" as button;
@use "@/styles/layout/layout" as layout;

@mixin modal-sheet {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 2rem;
  .title {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }
  .sub {
    font-size: 1.6rem;
    color: var(--gray-400);
    margin-bottom: 2rem;
    line-height: 1.3;
  }
  .label {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-500);
    letter-spacing: 0.05em;
    padding: 0 1.6rem;
  }
  .actions {
    display: flex;
    gap: 0.4rem;

    position: relative;
    @include layout.concave-edge(
      bottom,
      100%,
      var(--sheet-content-radius),
      var(--sheet-content-radius),
      var(--bg-100)
    );
    .button {
      @include button.ky-button;
      flex: 1 0 0;
      background-color: var(--bg-200);
      font-size: 1.6rem;
      color: var(--gray-200);
      border-radius: calc(var(--card-radius-base) * 1.5 - 2rem);
      &.primary {
        background-color: var(--brand-500);
        color: var(--gray-900);

        &:disabled {
          background-color: var(--bg-300);
          color: var(--gray-500);
        }
      }
    }
  }
}
