@use "@/styles/layout/button" as button;

:host {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fallback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  transition-behavior: allow-discrete;

  .icon {
    width: 18rem;
    height: 18rem;
  }
  .text {
    font-size: 1.6rem;
  }

  .button {
    @include button.ky-button;
  }
}
