.fallback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  transition-behavior: allow-discrete;
  min-height: calc(100dvh - 8.4rem);

  .icon {
    width: 18rem;
    height: 18rem;
  }
  .text {
    font-size: 1.6rem;
  }
}
