.Fallback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  transition-behavior: allow-discrete;
  min-height: calc(100dvh - 8.4rem);

  &__Icon {
    width: 12rem;
    height: 12rem;
  }
  &__Text {
    font-size: 1.6rem;
  }
}
