.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;

  .month {
    font-size: inherit;
    border-bottom: 1px solid;
    color: var(--text-100);
  }

  .button {
    background: transparent;
    font-size: 2.4rem;
    width: calc(100% / 7);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.2rem;

    .next {
      rotate: 180deg;
    }

    &:hover {
      background: var(--bg-200);
    }
  }
}
