/* components/daySelector.module.scss */
@use "@/styles/layout/accordion" as accordion;
@use "@/styles/layout/layout" as layout;

.schedule {
  position: relative;
  background-color: var(--bg-100);
  box-shadow: var(--shadow-sm);
  overflow: hidden;

  // 🎯 최신 가변 높이 슬라이딩 모션 믹스인 전수
  @include accordion.details-sliding-motion(
    $arrow-selector: ".arrow",
    $border-color: transparent
  );

  .arrow {
    color: var(--bg-500);
  }

  .shrink {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding: 1.6rem;
    user-select: none;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    flex-grow: 1;
  }

  .titleRow {
    display: flex;
    align-items: baseline;
    gap: 0.8rem;
  }

  .time {
    font-size: 1.8rem;
    font-weight: 800;
  }
  .name {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text-100);
  }

  .description {
    font-size: 1.6rem;
    color: var(--text-500);
    margin: 0;
    line-height: 150%;
  }

  .content {
    padding: 0 1.6rem 1.6rem;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    border-top: unset;
  }
}
