.daySelector {
  width: 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollClip {
  display: flex;
  gap: 0.2rem;
  overflow-x: auto;
  border-radius: 9999px;
  width: 100%;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.scrollBody {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.2rem;
  animation: nudge 300ms alternate-reverse var(--ease-in-out-quad) 4;
  @keyframes nudge {
    from {
      translate: -1rem;
    }
    to {
      translate: 0;
    }
  }
}

.item {
  &:first-of-type .button {
    border-top-left-radius: var(--card-radius-base);
    border-bottom-left-radius: var(--card-radius-base);
  }
  &:last-of-type .button {
    border-top-right-radius: var(--card-radius-base);
    border-bottom-right-radius: var(--card-radius-base);
  }
}

.button {
  white-space: nowrap;
  background-color: var(--bg-300);
  height: calc(var(--card-radius-base) * 2);
  align-content: center;
  padding: 0 1.2rem;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  transition: 200ms var(--ease-in-out-back);
  &.selected {
    border-radius: var(--card-radius-base);
    background-color: var(--brand-800);
  }
}
