@use "@/styles/layout/layout" as *;
.gallery {
  display: flex;
  flex-direction: column;
  @include safe-area;
  margin: 0 auto;
}

.tabBar {
  display: flex;
  align-items: center;
  position: sticky;
  top: var(--header-height);
  z-index: 101;
  background-color: var(--bg-100);
  @include round-mask(calc(var(--card-radius-base) * 2));
  anchor-name: --gallery-grid;
}

.swipeHitArea {
  min-height: calc(
    100dvh - var(--header-height) - var(--card-radius-base) *
      2 - var(--navigation-height) - 2rem
  );
}

.controller {
  position: fixed;
  position-anchor: --gallery-grid;
  width: min(calc(100% - calc(var(--inner-padding) * 2)), 47.5rem);
  z-index: 110;
  bottom: calc(var(--navigation-height) + 1.2rem);
  left: 50%;
  translate: -50% 0;

  @media screen and (min-width: 690px) {
    left: anchor(center);
  }
}

.upload {
  @include ky-button;
  gap: 0.4rem;
  align-items: center;
  width: auto;
  interpolate-size: allow-keywords;
  white-space: nowrap;
  transition-behavior: allow-discrete;
  @starting-style {
    width: calc(var(--card-radius-base) * 2);
    opacity: 0;
    padding: 0;
  }

  &.cancel {
    width: calc(var(--card-radius-base) * 2);
    opacity: 1;
    padding: 0 1.6rem;
    border-radius: 0.8rem;
    .icon {
      rotate: 45deg;
    }
  }

  .icon {
    font-size: 2.4rem;
  }
  .text {
    display: none;
    opacity: 0;
    font-size: 1.6rem;
    transition: all 150ms var(--ease-in-out-quad);
    &.show {
      display: block;
      opacity: 1;
    }
  }
}
