@use "@/styles/layout/layout" as *;
.gallery {
  display: flex;
  flex-direction: column;
  @include safe-area;
  margin: 0 auto;
}

.controller {
  display: flex;
  align-items: center;
  position: sticky;
  top: var(--header-height);
  z-index: 100;
  background-color: var(--bg-100);
  @include round-mask(calc(var(--card-radius-base) * 2));
}

.upload {
  position: fixed;
  bottom: calc(var(--navigation-height) + 1.2rem);
  left: 50%;
  translate: -50% 0;
  display: flex;
  gap: 0.4rem;
  align-items: center;

  @include ky-button;

  .icon {
    font-size: 1.8rem;
  }
  .text {
    font-size: 1.6rem;
  }
}
