@use "@/styles/layout/layout" as *;
.gallery {
  display: flex;
  flex-direction: column;
  @include safe-area;
  margin: 0 auto;
}

.controller {
  display: flex;
  align-items: center;
  position: sticky;
  top: var(--header-height);
}

.viewChanger {
  margin-left: auto;
}
