@use "@/styles/layout/modal-sheet" as sheet;

.content {
  @include sheet.modal-sheet;
  .title {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--text-100);
    margin-bottom: 1.6rem;
  }
  .actions {
    .button {
      &.delete {
        background-color: var(--red-500);
      }
    }
  }
}
