:host {
  display: block;
}
.routeCard {
  @media screen and (min-width: 690px) {
    border-top: 1px solid var(--bg-100);
    border-bottom: 1px solid var(--bg-100);
  }
  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      inset: 1.4rem auto 1.4rem 0;
      width: 1.2rem;
      background-color: var(--brand-500);
      border-radius: 9999px;
    }
  }
  .point {
    display: flex;
    gap: 0.6rem;
    font-size: 1.6rem;
    padding: 1.2rem 0;
    margin-left: 2.4rem;
    position: relative;
    &:not(:last-child) {
      border-bottom: 1px solid var(--bg-100);
    }
    &::after {
      content: "";
      position: absolute;
      z-index: 3;
      width: 0.6rem;
      height: 0.6rem;
      background-color: #fff;
      border-radius: 50%;
      left: -2.1rem;
      top: 50%;
      translate: 0 -50%;
    }
  }
}
