:host {
  display: block;
}
.routeCard {
  border-radius: calc(var(--card-radius-base) - 1.6rem);
  overflow: hidden;
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    inset: 1.4rem auto 1.4rem 1.2rem;
    width: 1.2rem;
    background: linear-gradient(var(--brand-600), var(--brand-400));
    border-radius: 9999px;
  }
  .point {
    display: flex;
    gap: 0.6rem;
    font-size: 1.6rem;
    padding: 1.2rem 3.2rem;
    position: relative;
    background-color: var(--bg-300);

    &::after {
      content: "";
      position: absolute;
      z-index: 3;
      width: 0.4rem;
      height: 0.4rem;
      background-color: #fff;
      border-radius: 50%;
      left: 1.6rem;
      top: 50%;
      translate: 0 -50%;
    }
  }
}
