@use "@/styles/layout/layout" as *;

.doubleCol {
  margin: 0 auto;
  @include safe-area;
  @include double-col-layout;
  min-height: 100dvh;
  row-gap: 0.4rem;
  align-content: start;
}
.sticky {
  position: sticky;
  top: var(--header-height);
  z-index: 110;
  border-radius: var(--card-radius-base);
  display: flex;
  align-items: center;
  padding: 0 1.6rem;
  gap: 0.8rem;
  height: 4.8rem;
  margin-bottom: 1.2rem;
  --progress-back: var(--brand-900);
  --progress-body: var(--brand-500);
  font-size: 1.4rem;

  @media screen and (min-width: 690px) {
    grid-column: 1;
    grid-row: 1 / var(--list-length);
  }
}
.title {
  font-size: 1.6rem;
  anchor-name: --right-col;
}
.progress {
  margin-left: auto;
  font-size: 1.6rem;
}

.list {
  display: contents;
}
.item {
  @include round-list("y");
  background-color: var(--bg-200);
  border: 1px solid transparent;

  &.selected {
    border-color: var(--brand-500);
  }
  @starting-style {
    opacity: 0;
    scale: 0.9;
  }
}

.control {
  position: fixed;
  z-index: 110;
  bottom: calc(var(--navigation-height) + 1.2rem);
  left: 50%;
  translate: -50% 0;
  position-anchor: --right-col;

  @media screen and (min-width: 690px) {
    left: anchor(center);
  }
}
