:root {
  --header-height: 6rem;
  --inner-padding: 2rem;
  --navigation-height: calc(8rem + env(safe-area-inset-bottom));
  // --day-selector-height: 4.8rem;
  --card-radius-base: 2.4rem;
  --ease-in-out-back: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
  --ease-in-out-quad: cubic-bezier(0.45, 0, 0.55, 1);
}
