@use "@/styles/layout/layout" as *;

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.4rem;

  & > * {
    border-radius: 0.8rem;
  }
}

.counter {
  width: 100%;
  text-align: center;
  height: calc(var(--card-radius-base) * 2);
  align-content: center;
  font-size: 1.4rem;
  background-color: oklab(from var(--gray-050) l a b / 0.45);
  border-radius: 9999px;
  color: var(--gray-950);
  backdrop-filter: blur(10px);
  font-variant-numeric: tabular-nums;

  transition: all 150ms var(--ease-in-out-quad);
  transition-behavior: allow-discrete;
  opacity: 0;
  &.show {
    display: block;
    opacity: 1;
  }
}

.box {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  border-radius: 9999px;
  overflow: hidden;
  gap: 0.4rem;
}

.input {
  background-color: var(--bg-200);
  flex-grow: 1;
  height: calc(var(--card-radius-base) * 2);
  font-size: 1.4rem;
  border: 2px solid transparent;
  display: none;
  width: calc(var(--card-radius-base) * 2);
  transition: all 150ms var(--ease-in-out-quad);
  transition-behavior: allow-discrete;
  &:focus {
    border-color: var(--bg-300);
  }
  &.show {
    display: block;
    width: 24rem;
    opacity: 1;
    padding: 0 1.6rem;
    @starting-style {
      width: calc(var(--card-radius-base) * 2);
      opacity: 0;
      padding: 0;
    }
  }
}

.button {
  @include ky-button;
  border-radius: 0.8rem;
  width: calc(var(--card-radius-base) * 2);
  height: calc(var(--card-radius-base) * 2);
  flex-shrink: 0;
  font-size: 2.4rem;

  transition: 150ms var(--ease-in-out-quad);
  --rotation: 0;
  .icon {
    rotate: var(--rotation);
    transition: all 150ms var(--ease-in-out-quad);
  }

  &.cancel {
    --rotation: 45deg;
  }

  @starting-style {
    opacity: 0;
  }
}
