@use "@/styles/layout/layout" as *;

.grid {
  display: grid;
  --grid-columns: 2;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: 0.4rem;
  @media screen and (min-width: 690px) {
    --grid-columns: 3;
  }
  @media screen and (min-width: 1024px) {
    --grid-columns: 4;
  }
  border-radius: var(--card-radius-base);
  overflow: hidden;

  transition: opacity 150ms var(--ease-in-out-back);
  @starting-style {
    opacity: 0;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  aspect-ratio: 1;
  border-radius: 0.8rem;
  overflow: hidden;
  @include loading-target;
  transition:
    opacity 150ms var(--ease-in-out-back) calc(30ms * var(--i)),
    scale 150ms var(--ease-in-out-back) calc(30ms * var(--i));

  @starting-style {
    opacity: 0;
    scale: 0.9;
  }

  &::after {
    content: "";
    z-index: 1;
    position: absolute;
    inset: 0;
    background: transparent;
  }

  &.selected::after {
    transition: background 150ms var(--ease-in-out-back);
    background: oklch(from var(--brand-500) l c h / 0.5);
  }
}

.checked {
  position: absolute;
  z-index: 2;
  color: var(--gray-950);
  font-size: 6rem;
  opacity: 0;
  transition: 150ms var(--ease-in-out-back);
  border-radius: 50%;
  &.show {
    opacity: 1;
  }
}
