:host {
  display: block;
  width: 1em;
  height: 1em;
}

.icon {
  justify-content: center;
  align-items: center;
  transition:
    opacity 300ms var(--ease-in-out-back),
    scale 300ms var(--ease-in-out-back);
  font-weight: inherit;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  scale: 0;
  fill: currentColor;
  width: 1em;
  height: 1em;

  &.loaded {
    display: block;
    opacity: 1;
    scale: 1;
  }
}
