@use "@/styles/layout/layout" as layout;

.doubleCol {
  margin: 0 auto;
  @include layout.safe-area;
  @include layout.double-col-layout;

  .daySelector {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 105;
    @include layout.concave-edge(
      top,
      100%,
      var(--card-radius-base),
      var(--card-radius-base),
      var(--bg-100)
    );
    background-color: var(--bg-100);
    margin-bottom: -0.4rem;
    padding: 0.8rem 0;
    margin: -0.8rem 0 -0.4rem;
    @media screen and (min-width: 690px) {
      margin-bottom: 0;
      top: var(--header-height);
      &::after,
      &::before {
        content: none;
      }
    }
  }
}
