.container {
  position: fixed;
  bottom: calc(var(--navigation-height) + 1.2rem);
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 8px;
  pointer-events: none; // 클릭 방해 금지
  width: min(calc(100% - calc(var(--inner-padding) * 2)), 47.5rem);
}

.toast {
  pointer-events: auto;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0 1.6rem;
  height: calc(var(--card-radius-base) * 2);
  border-radius: 0.8rem;
  background: oklch(from var(--gray-050) l c h / 0.8);
  backdrop-filter: blur(10px);
  color: var(--gray-900);
  font-size: 1.6rem;
  font-weight: 500;

  animation: slideUp 0.4s var(--ease-out-expo);
}
.icon {
  font-size: 2.4rem;
  border-radius: 50%;
  &.success {
    color: var(--bg-100);
    background-color: var(--green-500);
  }
  &.error {
    color: var(--bg-100);
    background-color: var(--tangerine-500);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
