.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 6rem;
  padding: 2.4rem;

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background-color: oklch(from var(--bg-100) l c h / 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(1rem);
    -webkit-mask-image: linear-gradient(#000, transparent);
    mask-image: linear-gradient(#000, transparent);
  }
}
