@use "@/styles/layout/layout" as *;

.doubleCol {
  margin: 0 auto;
  @include safe-area;
  @include double-col-layout;
  gap: 0.4rem;
  .daySelector {
    width: 100%;
    position: sticky;
    top: var(--header-height);
    z-index: 20;
    margin-bottom: 0.8rem;
    @media screen and (min-width: 690px) {
      margin-bottom: 0;
    }
  }
}
