@use "@/styles/layout/button" as button;
@use "@/styles/layout/bottom-sheet" as sheet;

bottom-sheet::part(content) {
  bottom: 0;
  --radius: calc(var(--card-radius-base) * 1.5);
  border-radius: var(--radius) var(--radius) 0 0;

  @media screen and (min-width: 1024px) {
    bottom: 50%;
    border-radius: var(--radius);
    transform: translateY(50%);
  }
}

.uploadSheet {
  @include sheet.bottom-sheet;
}

.types {
  margin-bottom: 1.6rem;
}

.picker {
  @include button.ky-button;
  font-size: 1.6rem;
  font-weight: 600;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  background: var(--bg-200);
  background-position: center center;
  background-size: cover;
  border-radius: 1.6rem 1.6rem 0.4rem 0.4rem;
  color: var(--gray-200);
  gap: 0.8rem;
  margin-bottom: 0.2rem;
  .icon {
    font-size: 1.8rem;
  }
}

.fileName {
  height: calc(var(--card-radius-base) * 2);
  padding: 0 1.6rem;
  border: none;
  border-radius: 0.4rem 0.4rem 1.6rem 1.6rem;
  font-size: 1.6rem;
  background-color: var(--bg-200);
  margin-bottom: 2rem;
  border: 2px solid transparent;
  &::placeholder {
    font-size: 1.6rem;
    color: var(--text-500);
  }
  &:focus-visible {
    border-color: var(--brand-500);
  }
}
