@use "@/styles/layout/layout" as layout;

:host {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 120;
  width: 100%;
  transition: translate 150ms ease-out;

  display: flex;
  flex-direction: column;
  align-items: center;

  &:has(.hidden) {
    // bottom: calc(-100% + var(--inner-padding));
    translate: 0 calc(100% - var(--inner-padding));
    @media screen and (min-width: 690px) {
      translate: 0 100%;
    }
  }
}

.mask {
  position: relative;
  width: calc(100% - var(--inner-padding) * 2);
  height: var(--inner-padding);
  background-color: var(--bg-100);
  @include layout.concave-edge(
    bottom,
    calc(var(--inner-padding)),
    var(--card-radius-base),
    var(--card-radius-base),
    var(--bg-100)
  );
  @media screen and (min-width: 690px) {
    display: none;
  }
}

.navigationBar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.2rem max(var(--inner-padding), calc((100dvw - 108rem) / 2))
    calc(env(safe-area-inset-bottom) + 2.4rem);
  background-color: var(--bg-300);
  height: var(--navigation-height);
}
.link {
  flex: 1 0 0;
  --icon-color: var(--text-300);
  --text-color: var(--text-300);
  &[aria-selected="true"] {
    --icon-color: var(--blue-000);
    --icon-bg-color: var(--blue-tint);
    --icon-scale: 1;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.icon {
  font-size: 2rem;
  font-weight: 500;

  display: flex;
  width: 4.2rem;
  height: 2.6rem;
  align-items: center;
  justify-content: center;

  color: var(--icon-color);
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    transition: scale 150ms var(--ease-in-out-back);
    background-color: var(--icon-bg-color, transparent);
    border-radius: 9999px;
    scale: var(--icon-scale, 0);
  }
}

.text {
  font-size: 1.4rem;
  color: var(--text-color, inherit);
  transition: color 150ms var(--ease-in-out-quad);
}
