/* components/grid.module.scss */

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  row-gap: 0.4rem;
  --range-bg: var(--bg-200);
  --range-text: var(--brand-500);
  --point: var(--brand-500);
  border-radius: calc(100% / 14);
  overflow: hidden;

  .item {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 1.2rem;
    align-content: center;
  }

  .weekday {
    color: var(--text-500);
  }

  // 🔗 [공통 베이스] 일반 날짜 및 기간 음영 트랙 명세
  .day {
    position: relative;
    cursor: pointer;

    .dayText {
      position: relative;
      z-index: 1;
    }

    &.empty {
      cursor: default;
      pointer-events: none;
    }
    &:hover:not(.empty) {
      background: var(--bg-300);
    }

    &.inRange {
      background: var(--range-bg);
      border-radius: 0;
      &.start {
        border-radius: 1.2rem 0 0 1.2rem;
      }
      &.end {
        border-radius: 0 1.2rem 1.2rem 0;
      }
      &.start.end {
        border-radius: 1.2rem;
      }
    }
  }

  // ----------------------------------------------------------------
  // 🎯 명세 1. type=range : start, end에 흰색 insetbox 생성
  // ----------------------------------------------------------------
  &.rangeMode {
    .day {
      &.start,
      &.end {
        z-index: 2;
        font-weight: 700;

        &::before {
          content: "";
          position: absolute;
          inset: 0.6rem;
          background-color: var(--gray-1000);
          border-radius: 0.6rem;
          z-index: 0;
          box-shadow: 0 0 0.8rem var(--bg-300);
        }
      }
    }
  }

  // ----------------------------------------------------------------
  // 🎯 명세 2. type=day : 전체 음영 유지 + active에만 ::after 점 표시
  // ----------------------------------------------------------------
  &.dayMode {
    .day {
      &.activeDay {
        color: var(--brand-500) !important;
        font-weight: 850;

        .dayText::after {
          content: "";
          position: absolute;
          bottom: -4px;
          left: 50%;
          transform: translateX(-50%);
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: var(--brand-500);
        }
      }
    }
  }
}
