:host {
  display: block;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
}

.icon {
  font-size: 2.4rem;
  rotate: -90deg;
}

.input {
  flex-grow: 1;
  min-width: 0;
}
