:host {
  display: block;
}
:root.is-locked {
  overflow: hidden;
}
input,
textarea {
  font-family: inherit;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Space Grotesk";
  /* HTML의 href 경로와 정확히 일치해야 합니다 */
  src: url("/fonts/SpaceGroteskVariable.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard Variable";
  /* HTML의 href 경로와 정확히 일치해야 합니다 */
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
  font-display: swap;
}

html {
  font-size: 0.625em;
}
#App {
  min-height: 100dvh;
  background-color: var(--bg-100);
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-100);
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  font-weight: 500;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all;
}

::selection {
  background-color: var(--brand-500);
  color: var(--gray-900);
}
em,
i {
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
textarea {
  background-color: transparent;
}
a,
button,
summary {
  border: 0 none;
  border-radius: 0;
  background-color: transparent;
  cursor: default;
}
ul,
li {
  list-style: none;
}
img,
video,
canvas,
textarea {
  vertical-align: middle;
}
summary {
  list-style: none;
  &::-webkit-details-marker {
    display: none;
  }
}
.sr-only {
  display: block;
  clip: rect(1px 1px 1px 1px);
  clip-path: inset(50%);
  width: 1px !important;
  height: 1px !important;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.inner {
  padding: 0 var(--inner-padding);
}

*:focus-visible {
  outline: 2px solid oklch(var(--brand-500));
  outline-offset: 2px;
  border-radius: 4px;
}
*::-webkit-scrollbar {
  display: none;
}
*::-webkit-scrollbar-thumb {
  background-color: oklch(var(--gray-050));
  border-radius: 9999px;
}

dialog {
  all: unset;
  display: none;
  border: none;
}

// #Overay {
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   z-index: 1000;
// }

a,
button:not(:disabled),
[role="progressbar"],
[data-pointer="true"],
label,
input,
textarea {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}
@media (hover: hover) and (pointer: fine) {
  a,
  button:not(:disabled),
  summary,
  [role="progressbar"],
  [data-pointer="true"] {
    cursor: pointer;
  }
}
