// @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// * {
//   animation: blink 500ms ease-out;
// }
// @keyframes blink {
//   from {
//     outline: 1px solid red;
//   }
//   to {
//     outline: transparent;
//   }
// }

html {
  font-size: 0.625em;
}
#App {
  min-height: 100dvh;
  background-color: var(--bg-100);
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-100);
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  font-weight: 500;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all;
  font-display: swap;
}

::selection {
  background-color: var(--brand-500);
  color: var(--gray-900);
}
em,
i {
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
textarea {
  background-color: transparent;
}
a,
button,
summary {
  border: 0 none;
  border-radius: 0;
  background-color: transparent;
  cursor: default;
}
ul,
li {
  list-style: none;
}
img,
video,
canvas,
textarea {
  vertical-align: middle;
}
summary {
  list-style: none;
  &::-webkit-details-marker {
    display: none;
  }
}
.sr-only {
  display: block;
  clip: rect(1px 1px 1px 1px);
  clip-path: inset(50%);
  width: 1px !important;
  height: 1px !important;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.inner {
  padding: 0 var(--inner-padding);
}

*:focus-visible {
  outline: 2px solid oklch(var(--brand-500));
  outline-offset: 2px;
  border-radius: 4px;
}
*::-webkit-scrollbar {
  display: none;
}
*::-webkit-scrollbar-thumb {
  background-color: oklch(var(--gray-050));
  border-radius: 9999px;
}

// #Overay {
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   z-index: 1000;
// }

a,
button:not(:disabled),
[role="progressbar"],
[data-pointer="true"],
label,
input,
textarea {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}
@media (hover: hover) and (pointer: fine) {
  a,
  button:not(:disabled),
  summary,
  [role="progressbar"],
  [data-pointer="true"] {
    cursor: pointer;
  }
}
